<ul class="nav nav-tabs">
          <li role="presentation" class="active"> <a routerLink=""> Event List  </a> </li>  
          <li role="presentation" class="active"> <a routerLink="addEvent"> Add Event </a> </li>  
    </ul>


<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">ID</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="id">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-md-2">Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Location</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="location">
      </div>
    </div>



    <div class="form-group row">
      <label class="col-md-2">Waktu Pelaksaan</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="date">
      </div>
    </div>





    <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="addEvent()">Add Event</button>
      </div>
    </div>

  </div>
</div>