  <div style="background-color: #ffffff">
    
    <ul class="nav nav-tabs">
          <li role="presentation" class="active"> <a routerLink=""> Course List </a> </li>  
    </ul>


    <table class="table table-hover" border="1">
      <tr style="background-color: #d7d7d7">
        <th>ID</th>
        <th>Course</th>
        <th>Lecture</th>    
        <th>Price</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let r of CourseList">
        <td>{{ r.id }}</td>
        <td>{{ r.course_name }}</td>
        <td>{{ r.lecture_name }}</td>
        <td>{{ r.price}}</td>
        <td> 
          <div class="btn btn-primary">
              Register
          </div>
        </td>    
      </tr>
    </table>

</div>


<hr><hr>



<div class="row">
  <div class="col-md-offset-1 col-md-10">
    
    <div class="form-group row">
      <label class="col-md-2">ID</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="id">
      </div>
    </div>


    <div class="form-group row">
      <label class="col-md-2">Course Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="course_name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">Lecture Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="lecture_name">
      </div>
    </div>



    <div class="form-group row">
      <label class="col-md-2">Price</label>
      <div class="col-md-10">
        <input class="form-control" type="text" value="" [(ngModel)]="price">
      </div>
    </div>





    <div class="form-group row">
      <label class="col-md-2">
      </label>
      <div class="col-md-10">
        <button class="btn btn-success" (click)="addBook()">Add Book</button>
      </div>
    </div>

  </div>
</div>