  <div style="background-color: #ffffff">
    
    <ul class="nav nav-tabs">
          <li role="presentation" class="active"> <a routerLink=""> Event List  </a> </li>  
          <li role="presentation" class="active"> <a routerLink="addEvent"> Add Event </a> </li>  
    </ul>


    <table class="table table-hover" border="1">
      <tr style="background-color: #d7d7d7">
        <th>ID</th>
        <th>Event</th>
        <th>Location</th>    
        <th>Date</th>


      </tr>
      <tr *ngFor="let e of event">
        <td>{{ e.id }}</td>
        <td>{{ e.name }}</td>
        <td>{{ e.location }}</td>
        <td>{{ e.date}}</td>
           
      </tr>
    </table>

    <br><br><br>


	<table class="table table-hover" border="1">
      <tr style="background-color: #d7d7d7">
      	<th>ID</th>
        <th>Quantity</th>
        <th>Price</th>   
        <th>Action</th> 

      </tr>
      <tr *ngFor="let t of ticket">
      <td>{{ t.id }}</td>
        <td>{{ t.qty }}</td>
        <td>{{ t.price }}</td>
        <td> 
          <div class="btn btn-primary" (click)="removeTicket(t.id)" >
              Buy
          </div>
        </td> 
   
      </tr>
    </table>

    

</div>