  <div style="background-color: #ffffff">
    
    <ul class="nav nav-tabs">
          <li role="presentation" class="active"> <a routerLink=""> Room List </a> </li>  
    </ul>


    <table class="table table-hover" border="1">
      <tr style="background-color: #d7d7d7">
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Price</th>    
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let r of roomList">
        <td>{{ r.room_number }}</td>
        <td>{{ r.type }}</td>
        <td>{{ r.price}}</td>
        <td>{{ r.status }}</td>
        <td> 
          <div class="btn btn-primary">
              Book
          </div>
        </td>    
      </tr>
    </table>

</div>